<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
{% block content %}



<h3 class="text-center ">ADD MOVIE DETAILS</h3>
<form method="POST" enctype="multipart/form-data">
  {% csrf_token %}
    <div class="mb-3 mx-2">
  <label  class="form-label">Title :</label>
        <input type="text" class="form-control" name="t" value="{{movie.title}}" placeholder="title">

</div>
<div class="mb-3 mx-2">
  <label  class="form-label">Description :</label>
    <textarea class="form-control" name="d"  placeholder="Description"></textarea>

</div>
<div class="mb-3 mx-2">
  <label  class="form-label">Language :</label>
  <input type="text" class="form-control" name="l" value="{{movie.language}}" placeholder="Language">
</div>
    <div class="mb-3 mx-2">
  <label  class="form-label">Year :</label>
  <input type="text" class="form-control" name="y" value="{{movie.year}}" placeholder="Year">
</div>
    <div class="mb-3 mx-2">
  <label  class="form-label">Image :</label>
        <img src="{{ movie.image.url }}" height="200px" width="150px" class="mb-3">
  <input type="file" class="form-control" name="i" >
</div>
<!--         <div class="mb-3">-->
<!--  <label for="formFileSm" class="form-label">Small file input example</label>-->
<!--  <input class="form-control form-control-sm" name="i" id="formFileSm" type="file">-->
<!--</div>-->

<div class=" mx-2">
<input type="submit" class="form-control" value="Edit movie">
</div>
</form>

{% endblock %}